<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808600494909-mot4pjhj0b4782r6fibebg83gc4105nu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808600494909-mot4pjhj0b4782r6fibebg83gc4105nu</string>
	<key>API_KEY</key>
	<string>AIzaSyDqSTuuKEoDEB6M8Ql_-IOeYAJL3Zx9h5o</string>
	<key>GCM_SENDER_ID</key>
	<string>808600494909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meganyu.Prolific</string>
	<key>PROJECT_ID</key>
	<string>prolific-d8727</string>
	<key>STORAGE_BUCKET</key>
	<string>prolific-d8727.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808600494909:ios:e598213043e8af4a9e9b54</string>
	<key>DATABASE_URL</key>
	<string>https://prolific-d8727.firebaseio.com</string>
</dict>
</plist>